DB_HOST=localhost
DB_NAME=enterprise_ranking
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

APP_ENV=local
APP_URL=http://localhost/ranking/public

MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=trabalheconosco@mottanet.com.br
MAIL_FROM_NAME="Ranking Mottanet"